* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #eff4fe;
  --secondary-color: #ffffff;
}

@font-face {
  font-family: Norse;
  src: url("/Norse-Bold.otf");
}

.general {
  display: flex;
}

.img-section {
  display: flex;
  flex: 1;
  position: relative;
}

.img-section img {
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 7rem;
  height: 8rem;
}

.logo span {
  font-family: Norse;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.transparent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13rem;
  left: 0rem;
  width: 100%;
  height: 13rem;
  background-color: rgba(0, 0, 0, 0.505);
}

.form-section {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.paragraph {
  height: 30vh;
  background-color: var(--primary-color);
}

.paragraph p {
  width: 35rem;
  padding: 2rem 0 0 2rem;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.italic {
  font-style: italic;
}

.form {
  width: 51.3rem;
  height: 50vh;
  background-color: var(--seconday-color);
  padding: 0.5rem 0 0 2rem;
}

.form p {
  font-size: 1.5rem;
  color: rgb(52, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding-bottom: 1.5rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.button-div {
  height: 20vh;
  background-color: var(--primary-color);
}

input {
  width: 15rem;
  height: 1.5rem;
  border-radius: 5px;
}

input:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

label {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(81, 81, 81);
}

.button-div button {
  margin: 2rem 0 0 2rem;
  width: 10rem;
  height: 3rem;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.button-div button:active {
  transform: rotate(-1.5deg);
  background-color: #ffffff;
}

.button-div p {
  margin: 1rem 0 0 2rem;
}

.button-div p > span {
  color: #9b2222;
}
